.header {
  background-color: $primary;
  img {
    width: 80px;
    height: 49px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    .header-nav-bar {
      display: flex;
      a {
        color: #fff;
        font-size: 20px;
        margin-left: 64px;
      }
    }
  }
  .mobile-header-nav-bar {
    display: none;
  }
}

@include mobile {
  .header {
    .container {
      flex-direction: column;
      align-items: flex-start;
      .header-nav-bar {
        display: none;
      }
    }
    .mobile-header-nav-bar {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 16px;
      li {
        display: flex;
        justify-content: center;
        width: 50%;
        border: 1px solid #fff;
        a {
          display: block;
          color: #fff;
          margin: 0;
          padding: 12px 64px;
        }
      }
      padding-left: -12px;
      padding-right: -12px;
    }
  }
}
